ion-segment-button{
    --background: #F58E26;
    color:black;
    border-radius: 15px;
  }
  ion-segment{
    //background: #F58E26;
    border-radius: 15px;
  }
  .driver{
    --background: #F58E26;
  }
  