<ion-header>
  <ion-toolbar>
    <ion-title>previousLoads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
<div style="text-align: center;" >

  <div style="display: flex;">
<div>Name</div>
<div>:</div>
<div >Raju </div>
  </div>

  <div style="display: flex;">
    <div>Name</div>
    <div>:</div>
    <div>Raju </div>
      </div>

      <div style="display: flex;">
        <div>Name</div>
        <div>:</div>
        <div>Raju </div>
          </div>

          <div style="display: flex;">
            <div>Name</div>
            <div>:</div>
            <div>Raju </div>
              </div>

</div>

  </ion-card>
</ion-content>
