<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon *ngIf="logindata.role == 'Shipper'" name="arrow-back-sharp" routerLink="/tab/tab1" style="font-size: 30px;"></ion-icon>
      <ion-icon *ngIf="logindata.role == 'Transporter'||logindata.role == 'Fleet Owner'||logindata.role == 'Agent/Broker'" name="arrow-back-sharp" routerLink="/tab/tab2" style="font-size: 30px;"></ion-icon>
      <ion-title style="text-align:center;">About Us</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  style="text-align:center;">
    <img  src="assets/trueTruk.png"  style="width:200px;">
  </div>
  <div class="container" style="text-align: center;">
    <h5 style="text-align: center;">TruKApp is an AI enabled technology platform, wholly owned by En Forti Global Logistics Private Limited. TrukApp enables shippers to access the Live Truck Market for their loads and also enables transporting companies/Fleet Owners to get loads for their trucks from the Live Load Market.</h5>
      <h5 style="text-align: center;">It was founded in June 2022 by a team of passionate entrepreneurs from the NIT Warangal Almamater.</h5>
      <h5 style="text-align: center;">TrukApp is here to simplify truck booking experience by providing access to live markets and helping to build trust in transactions by connecting shippers to verified transporters/fleet owners. Both the parties can connect and negotiate on TrukApp for the loads posted or Trucks attached.</h5>
      
      <h5 style="text-align: center;">With the help of Technology, TrukApp aims to provide world class support from the beginning to the end of the cargo delivery life cycle. Our vision is to become an end to end logistics technology platform helping both Shippers and Transport providers to avail services of their choice in a hassle free and cost effective way.</h5>
      
      <h5 style="text-align: center;">This is what we are, TrukApp - Trucking Simplified!</h5>
  </div>
</ion-content>
