<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" (click)=goback() style="font-size: 30px;"></ion-icon>
      <ion-title>{{"All Notifications"|translate}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content >
 <div *ngIf="allNotifications" >
  <ion-list>
    <ion-item *ngFor="let item of allNotifications ">
      <img src="{{logo}}" style="width: 20px; height:20px;border-radius:5px;">
    
      <ion-label>
        <h2>{{"New message"|translate}}</h2>
        <p> {{ item }} </p>
        <div class="time" text-right>
          {{getTimeStamp()}}
        </div>
      </ion-label>
    </ion-item>
    </ion-list>
    </div>
    
    <div *ngIf="!allNotifications">
<h1 style="text-align: center;margin-top:300px;">{{"No Notifications"|translate}}</h1>
    </div>
</ion-content>
