<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" (click)=goback() style="font-size: 30px;"></ion-icon>
      <ion-title>All Notifications</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content >
 <div *ngIf="allNotificatio !=0" >
  <ion-list>
    <ion-item *ngFor="let item of allNotifications">
      <img src="logo" style="width: 12px; height:12px;border-radius:5px;">
    
      <ion-label>
        <h2>New message</h2>
        <p> {{ item }} </p>
        <div class="time" text-right>
          {{getTimeStamp()}}
        </div>
      </ion-label>
    </ion-item>
    </ion-list>
    </div>
    
    <div *ngIf="allNotificatio == 0">
<h1>No Notifications</h1>
    </div>
</ion-content>
