<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" routerLink="/trukallbids" style="font-size: 30px;"></ion-icon>
      <ion-title>Truck View Bid</ion-title>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="autorefresh($event)">
    <ion-refresher-content  refreshingSpinner="circles" refreshingText="Refreshing..">

    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="expecPrice">
    <ion-card-header>
      <ion-card-subtitle style="color: black;">Expected Price:</ion-card-subtitle>
      <ion-card-title>₹ {{openedBid.expectedPrice}}/-</ion-card-title>
      
    </ion-card-header>
    
    <ion-card-content>
      <ion-card-subtitle style="color: black;"><u>Details:</u></ion-card-subtitle>
      <p style="font-size: larger; font-weight: bolder; ">{{openedBid.OriginLocation}} -- {{openedBid.DestinationLocation}}
      </p>
      <p style="font-size: large; font-weight: bold; "> {{openedBid.data}} -- {{openedBid.Quantity}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="bid">

    <ion-card-header>

      <ion-card-subtitle style="font-size:larger; font-weight: bold; color: white;">Bids</ion-card-subtitle>

    </ion-card-header>
  </ion-card>
  


  <ion-grid>
    <ion-row *ngFor="let text of bidActivity">

 

       <ion-col size="8" offset="3" *ngIf="text.userNo==regdata.mobileNo" class=" my-message">

       

        <b text-left style="font-size: 12px;">{{text.UserName}}({{text.userType}})</b><br>
        <b text-left style="font-size: 15px;">Price:₹ {{text.price}}</b>
        <div class="time" style="color: black;" text-right><br>
          {{text.time | date:'short'}}
        </div>

      </ion-col> 
   


    <!-- <ion-row *ngFor="let text of bidActivity"> -->

      <ion-col size="8" *ngIf="text.userNo!== regdata.mobileNo" class=" other-message">
<div *ngIf="text.initialAccept === 'Accepted'">
      <h3>Bid accepted for : {{text.price}}</h3>
    </div>
    <div [hidden]="text.initialAccept === 'Accepted'" >
      <b style="font-size: 12px;">{{text.UserName}}({{text.userType}})</b><br>
      <span style="font-size: 15px;">Price:₹{{text.price}}</span>
     <!-- <b>PHno -{{text.userNo}}</b>-->
      <div class="time" text-right><br>
        {{text.time | date:'short'}}
      </div>
    </div>
    
      <!--   <b>{{text.userType}}::</b><br>
        <span>{{text.price}}</span><br>
        <b>PHno -{{text.userNo}}</b>
        <div class="time" text-right><br>
          {{text.time | date:'short'}}
        </div>


         <div class="time" text-right><br>
          <!-- {{text.time | date:'short' }}
        </div>  -->

      </ion-col>

       <!-- <ion-col size="9" offset="3" *ngIf="text.userType==currentUserType" class="message my-message">

        <b>{{text.userType}}::</b><br>
        <span>{{text.price}}</span><br>
        <b>PHno -{{text.userNo}}</b>
        <div class="time" text-right><br>
          {{text.time | date:'short'}}
        </div>

      </ion-col>  -->
    </ion-row>

    <!-- </ion-row> -->
  </ion-grid>

  <!--<ion-card color="success">
    <div align="center">
    
    Your bid has been accepted by the Agent/Broker/Transporter for:{{bidActivityprice}}
    </div>
    </ion-card>-->

   

      <ion-card  class="agentAccept"  *ngIf="conditions == true">
        <div align="center">
        
        Agent/Transporter/Fleet accepted for:{{tentativefinalPrice}}
        </div>
        </ion-card>
        <ion-card  class="shipperAccept" *ngIf="agentconditions == true">
          <div align="center">
          
          You approved for:{{tentativefinalPrice}}
          </div>
          </ion-card>

    

</ion-content>
<!--<div *ngIf="agentconditions == true || initialaccepted === 'Accepted'" align="center" style="margin-top:5px;"  [hidden]="paymentdone == true">
  <ion-button  shape="round" class="next" (click)="makepayment()">PAY NOW</ion-button>
  </div>-->

  <ion-card style="background-color:orange;" *ngIf="agentconditions == true && typepay == 'Offline'"  [hidden]="conditions == false || sharecontact == true">
  
      <ion-card-header>
        <ion-card-title  style="color:white; font-weight:bolder;">
          Share Contact Details
        </ion-card-title>
    
      </ion-card-header>
  
    <ion-card-content style="color:white; font-size:18;">
      Bid is accepted, please Share Your Contact Details
    </ion-card-content>
    <ion-button fill="clear" style="float:right; color:orange; width:140px;background-color:white; border-radius:9px;"  (click)="posttruck()">Share Contact</ion-button><br>
  
  </ion-card>

  
  <ion-card style="background-color:orange;" *ngIf="paymentdone == true && typepay == 'Online'" [hidden]="sharecontact == true">
  
    <ion-card-header>
      <ion-card-title  style="color:white; font-weight:bolder;">
        Share Contact Details
      </ion-card-title>
  
    </ion-card-header>

  <ion-card-content style="color:white; font-size:18;">
    Bid is accepted, please Share Your Contact Details
  </ion-card-content>
  <ion-button fill="clear" style="float:right; color:orange; width:140px;background-color:white; border-radius:9px;"  (click)="ContactOnline()">Add Driver Details</ion-button><br>

</ion-card>

<div [hidden]="agentconditions == true && conditions == true" [hidden] ="initialaccepted === 'Accepted'">
<!--<ion-button fill="clear" style="float: right; color: green;" (click)="acceptBid()" [hidden]="">Accept</ion-button>-->
<ion-button fill="clear" style="float: right; color: rgb(239, 244, 239); background-color:orange; border-radius:9px;" (click)="acceptBid()" *ngIf="show">Accept</ion-button>
<ion-button fill="clear" style="float: right; color: rgb(239, 244, 239); background-color:orange; border-radius:9px; " (click)="acceptBidForFinal()" *ngIf="hide"  [hidden]="tohideAccBtn === true" >Accept</ion-button>


<ion-button id="nara" shape="round" [hidden]="initialagentBid == true" class="next">InitialBid</ion-button>
</div>
<div>
<ion-button id="deepu" shape="round" style="width: 120px;" class="next"    [hidden]="agentconditions == true || initialaccepted === 'Accepted' || conditions == true || bidActivity == null" [disabled]="tohideAccBtn === true">Negotiate</ion-button>
<ion-modal #moodal trigger="deepu" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]" handleBehavior="cycle">
  <ng-template>
    <ion-content class="ion-padding">
      <!-- <div class="ion-margin-top">
      <ion-label>
        <ion-item fill="outline">
          <ion-label position="floating">Your Bidding price</ion-label>
          <ion-input placeholder="Enter new Price"[(ngModel)]="bidPrice"></ion-input>
        </ion-item>
        <br>
        <ion-button expand="full" class="next" shape="round" (click)="placeBid(bidPrice)">Negotiate</ion-button>
      </ion-label>
    </div> -->

      <ion-toolbar color="light">
        <ion-row>
          <ion-col size="10">
          
              <input autosize maxRowx="3" type="number" placeholder="Enter your price" [(ngModel)]="NegoPrice" class="input">
          

          </ion-col>

          <ion-col size="2">
            <ion-button expand="block" fill="clear" color="primary" [disabled]="NegoPrice === '' " class="msg-btn"
              (click)="negotiate()" (click)="moodal.dismiss()">
              <ion-icon name="send"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>


    </ion-content>
  </ng-template>
</ion-modal>
<ion-modal #modal trigger="nara" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]" handleBehavior="cycle">
  <ng-template>
    <ion-content class="ion-padding">
      <!-- <div class="ion-margin-top">
      <ion-label>
        <ion-item fill="outline">
          <ion-label position="floating">Your Bidding price</ion-label>
          <ion-input placeholder="Enter new Price"[(ngModel)]="bidPrice"></ion-input>
        </ion-item>
        <br>
        <ion-button expand="full" class="next" shape="round" (click)="placeBid(bidPrice)">Negotiate</ion-button>
      </ion-label>
    </div> -->

      <ion-toolbar color="light">
        <ion-row>
          <ion-col size="10">
   
          <input autosize maxRowx="3" type="number" placeholder="Enter your price" [(ngModel)]="messg" class="input">
          </ion-col>

          <ion-col size="2">
            <ion-button expand="block" fill="clear" color="primary" [disabled]="NegoPrice === '' " class="msg-btn"
              (click)="initialBid()" (click)="modal.dismiss()">
              <ion-icon name="send"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>


    </ion-content>
  </ng-template>
</ion-modal>

<div *ngIf="sharecontact == true && typepay == 'Offline'" align="center" style="margin-top:5px;" >
  <ion-button  shape="round" class="next" expand="block"id="opensModal">View Contact</ion-button>
  <ion-modal trigger="opensModal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <!--<ion-button (click)="cancel()">Back</ion-button>-->
            <ion-icon name="arrow-back-sharp" (click)="cancel()" style="font-size: 30px;"></ion-icon>
          </ion-buttons>
          <ion-title>Contact Details</ion-title>
      
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
      
        <ion-item>
          <ion-label position="stacked">Transporter Name</ion-label>
          <ion-input type="text"  [(ngModel)]="driverdetails.transporterName" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Transporter Number</ion-label>
          <ion-input type="text"  [(ngModel)]="driverdetails.mobileNumber" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Company Name</ion-label>
          <ion-input type="text"  [(ngModel)]="driverdetails.companyName" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">City</ion-label>
          <ion-input type="text"  [(ngModel)]="driverdetails.city" readonly></ion-input>
        </ion-item>
        
      </ion-content>
    </ng-template>
  </ion-modal>
  </div>

  <div *ngIf="sharecontact == true && paymentdone == true" align="center" style="margin-top:5px;" >
    <ion-button  shape="round" class="next" expand="block"id="opensModal">View Contact</ion-button>
    <ion-modal trigger="opensModal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <!--<ion-button (click)="cancel()">Back</ion-button>-->
              <ion-icon name="arrow-back-sharp" (click)="cancel()" style="font-size: 30px;"></ion-icon>
            </ion-buttons>
            <ion-title>Contact Details</ion-title>
        
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
        
          <ion-item>
            <ion-label position="stacked">DriverName</ion-label>
            <ion-input type="text"  [(ngModel)]="driverdetails.DriverName" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">DriverNumber</ion-label>
            <ion-input type="text"  [(ngModel)]="driverdetails.DriverNumber" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">vehicleType</ion-label>
            <ion-input type="text"  [(ngModel)]="driverdetails.vehicleType" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">vehicleNo</ion-label>
            <ion-input type="text"  [(ngModel)]="driverdetails.vehicleNo" readonly></ion-input>
          </ion-item>
          
        </ion-content>
      </ng-template>
    </ion-modal>
    </div>
  


