<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" (click)="routeto()" style="font-size: 30px;"></ion-icon>
      <ion-title>{{"Place Bid"|translate}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="autorefresh($event)">
    <ion-refresher-content  refreshingSpinner="circles" refreshingText="Refreshing..">

    </ion-refresher-content>
  </ion-refresher>
  <ion-card class="expecPrice">
    <ion-card-header>
      <ion-card-subtitle style="font-size: 18px;">{{"Expected Price:"|translate}}<span style="font-weight: bolder; color:black;">₹ {{objects.expectedPrice}}/-</span></ion-card-subtitle>
      <!-- <ion-card-title>₹ {{objects.expectedPrice}}/-</ion-card-title> -->
      <ion-card-title [hidden]="objects.advance == null" style="float: right;margin-top:-5px;font-size:15px;" >{{"Advance:"|translate}}<span style="font-weight: bolder; color:black;"> ₹ {{objects.advance}}/-</span></ion-card-title>

    </ion-card-header>
    <ion-card-content>
      <!-- <p style="font-size: larger; font-weight: bolder; ">{{objects.OriginLocation}} -- {{objects.DestinationLocation}}
      </p> -->
      <div class="flex-1" style="overflow-y: scroll;">
      <span class="font-size-12 mb-1" style="color:black; font-weight:bolder; width:100px; white-space: nowrap;"><a  class="text-dark" style="font-size: small; color:black; font-weight:bold;"> <ion-icon name="location-sharp" color="success "></ion-icon>{{objects.OriginLocation}}</a></span><br>
      <span class="font-size-12 mb-1" style="color:black; font-weight:bolder; width:100px;white-space: nowrap;"><a  class="text-dark" style="font-size: small; color:black; font-weight:bold;"><ion-icon name="location-sharp" color="danger"></ion-icon>{{objects.DestinationLocation}}</a></span><br>
      </div>
      <!-- <p style="font-size: large; font-weight: bold; "> {{objects.data}} -- {{objects.Quantity}} </p> -->
      <p  class="text-muted mb-0 mt-2 mr-3">&nbsp;<i class="fa fa-truck font-size-15 align-middle pe-2 " style="color: blue;"></i>{{objects.Quantity}}--{{objects.data}}</p>
    </ion-card-content>
  </ion-card>



<ion-grid>
  <ion-row *ngFor="let text of finalss">
     <ion-col size="8" offset="3" *ngIf="text.userNo == regdata.mobileNo">

    <div [hidden]="text.initialAccept === 'Accepted'"  class="my-message" >
      <b  style="font-size: 12px;">{{text.UserName}}({{text.userType}})</b><br>
      <span>₹ {{text.price}}/-</span>
      <!--<b>PHno -{{text.userNo}}</b>-->
      <div class="time" text-right><br>
        {{text.time | date:'short'}}
      </div>
    </div>
    </ion-col> 
  


  <!-- <ion-row *ngFor="let text of finalss"> -->

    <ion-col size="8" *ngIf="text.userNo!== regdata.mobileNo" class="message other-message">

      <b text-left style="font-size: 12px;">{{text.UserName}}({{text.userType}})</b><br>
      <b text-left>₹ {{text.price}}/-</b>

       <div class="time" text-right><br>
       {{text.time | date:'short' }}
      </div> 

    </ion-col>

     <!-- <ion-col size="9" offset="3" *ngIf="text.userType==currentUserType" class="message my-message">

      <b>{{text.userType}}::</b><br>
      <span>{{text.price}}</span><br>
      <b>PHno -{{text.userNo}}</b>
      <div class="time" text-right><br>
        {{text.time | date:'short'}}
      </div>

    </ion-col>  -->
  </ion-row>


  <!-- </ion-row> -->
  <!-- bid acceptance message by agent-->
</ion-grid>
<ion-card class="shipperAccept" *ngIf="item.initialAccept === 'Accepted'">
<div align="center">

{{"You Accepted the bid for"|translate}} {{item.tentativefinalPrice}}
</div>
</ion-card>

<!-- bid acceptance by the shipper-->

<ion-card  class="shipperAccept" *ngIf="item.isAgentAccepted == true" >
  <div align="center">
  
  {{"you accepted the bid for:"|translate}}{{item.tentativefinalPrice}}
  </div >
  </ion-card>
  <ion-card class="shipperAccept" *ngIf="item.isShipperAccepted == true" >
    <div align="center">
    
    {{"Shipper Approved  for:"|translate}}{{item.tentativefinalPrice}}
    </div >
    </ion-card>
    <ion-card class="shipperAccept" *ngIf="isPaymentCompleted == true" [hidden]="sharecontact == true" >
      <div align="center">
      
      {{"Shipper Payment is done(Share Contact)"|translate}}
      </div >
      </ion-card>
</ion-content>

<div [hidden]="item.isAgentAccepted == true || insidebidarray === 'Accepted'  ">
<ion-card [hidden]="insidebidarray == 'Accepted'" >
  <ion-card-header>
    <ion-card-title>{{"Bidding actions"|translate}}</ion-card-title>

  </ion-card-header>

  <ion-card-content>
    {{"Negotiate the bid rate or accept and proceed with the transaction"|translate}}
  </ion-card-content>


  <!-- <ion-button fill="clear" style="text-align:center; color: red; float: left;">Reject</ion-button> -->
  <ion-button fill="clear" style="float: right; color: rgb(239, 244, 239); background-color:orange; border-radius:9px;" (click)="acceptBid()" *ngIf="show">{{"Accept"|translate}}</ion-button>
  <ion-button fill="clear" style="float: right; color: rgb(239, 244, 239); background-color:orange; border-radius:9px;" (click)="acceptBidForFinal()" *ngIf="hide" [hidden]="item.TohideAcceptBtn == true" >{{"Accept"|translate}}</ion-button>
  <ion-button fill="outline" shape="round" style="float: left; " [hidden]="agentInitialBidSend == true" id="open-modall">{{"Initial Bid"|translate}}</ion-button>

 



</ion-card>
</div>
<ion-card style="background-color:orange;" *ngIf="isPaymentCompleted == true && typeofpay == 'Online'" [hidden]="sharecontact == true"><!--*ngIf="paymentId != null"-->
  <ion-card-header>
    <ion-card-title style="color: white;">{{"Share Contact Details"|translate}}</ion-card-title>

  </ion-card-header>

  <ion-card-content style="color:white;">
   {{"Bid is accepted, please share contact details"|translate}}
  </ion-card-content>
  <ion-button fill="clear" style="float:right; color:orange; width:140px;background-color:white; border-radius:9px;" (click)="ContactOnline()">{{"Add Driver Details"|translate}}</ion-button><br>
  
  

</ion-card>
 
<ion-card style="background-color:orange;" *ngIf="isShipperAccepted === true && typeofpay == 'Offline' && isagentAccept ==true"  [hidden]="item.isAgentAccepted == false || sharecontact == true">
  <ion-card-header>
    <ion-card-title style="color: white;">{{"Share Contact Details"|translate}}</ion-card-title>

  </ion-card-header>

  <ion-card-content style="color:white;">
    {{"Bid is accepted, please share contact details"|translate}}
  </ion-card-content>
  <ion-button fill="clear" style="float:right; color:orange; width:140px;background-color:white; border-radius:9px;" (click)="posttruck()">{{"Share Contact"|translate}}</ion-button><br>
  
</ion-card>
<!--<ion-card style="background-color:orange;" *ngIf="isShipperAccepted === true"  [hidden]="sharecontact == true">
  <ion-card-header>
    <ion-card-title style="color: white;">Share Contact Details</ion-card-title>

  </ion-card-header>

  <ion-card-content style="color:white;">
    Bid is accepted, please share contact details
  </ion-card-content>
  <ion-button fill="clear" style="float:right; color:orange; width:140px;background-color:white; border-radius:9px;" (click)="posttruck()">Share Contact</ion-button><br>
  
</ion-card>-->

<ion-button  id="moodal" shape="round" class="next" [disabled]="item.TohideAcceptBtn == true"   [hidden]="item.isShipperAccepted == true || isagentAccept == true || finalss == null ||insidebidarray == 'Accepted'"  >{{"Negotiate"|translate}}</ion-button>



<ion-modal #modal trigger="moodal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]" handleBehavior="cycle">
  <ng-template>
    <ion-content class="ion-padding">


      <ion-toolbar color="light">
        <ion-row>
          <ion-col size="10">
      
            <input autosize maxRowx="3" type="number" placeholder="Enter your price" [(ngModel)]="NegoPrice" class="input">
          </ion-col>
    
          <ion-col size="2">
            <ion-button expand="block" fill="clear" color="primary" [disabled]="NegoPrice === '' " class="msg-btn"
             (click)="negotiate()" (click)="modal.dismiss()">
              <ion-icon name="send"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>


    </ion-content>
  </ng-template>
</ion-modal>


<!-- <ion-footer>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col size="10">
        <textarea autosize maxRowx="3" [(ngModel)]="newMsg" class="input">

        </textarea>

      </ion-col>

      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === '' " class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->
<ion-modal #moodal trigger="open-modall" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]" handleBehavior="cycle">
  <ng-template>
    <ion-content class="ion-padding">
      <!-- <div class="ion-margin-top">
        <ion-label>
          <ion-item fill="outline">
            <ion-label position="floating">Your Bidding price</ion-label>
            <ion-input placeholder="Enter new Price"[(ngModel)]="bidPrice"></ion-input>
          </ion-item>
          <br>
          <ion-button expand="full" class="next" shape="round" (click)="placeBid(bidPrice)">Negotiate</ion-button>
        </ion-label>
      </div> -->

      <ion-toolbar color="light">
        <ion-row>
          <ion-col size="10">
          
            <input autosize maxRowx="3" type="number" placeholder="{{'enter your price'|translate}}" [(ngModel)]="newMsg" class="input">
          </ion-col>
    
          <ion-col size="2">
            <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg == '' " class="msg-btn"
            (click)="initialBid()" (click)="moodal.dismiss()">
              <ion-icon name="send"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>


    </ion-content>
  </ng-template>
</ion-modal>
<div *ngIf="sharecontact == true && typeofpay == 'Offline'" align="center" style="margin-top:5px;" >
  <ion-button  shape="round" class="next" expand="block"id="opensModal">{{"View Contact"|translate}}</ion-button>
  <ion-modal trigger="opensModal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">{{"Back"|translate}}</ion-button>
          </ion-buttons>
          <ion-title>{{"Contact Details"|translate}}</ion-title>
      
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
      
        <ion-item>
          <ion-label position="stacked">{{"Transporter Name"|translate}}</ion-label>
          <ion-input type="text"  [(ngModel)]="driverdetails.transporterName" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{"Transporter Number"|translate}}</ion-label>
          <ion-input type="text"  [(ngModel)]="driverdetails.mobileNumber" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{"Company Name"|translate}}</ion-label>
          <ion-input type="text"  [(ngModel)]="driverdetails.companyName" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">{{"City"|translate}}</ion-label>
          <ion-input type="text"  [(ngModel)]="driverdetails.city" readonly></ion-input>
        </ion-item>
        
      </ion-content>
    </ng-template>
  </ion-modal>
  </div>


  <div *ngIf="sharecontact == true && isPaymentCompleted == true" align="center" style="margin-top:5px;" >
    <ion-button  shape="round" class="next" expand="block"id="OnlineModal">{{"View Contact"|translate}}</ion-button>
    <ion-modal trigger="OnlineModal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">{{"Back"|translate}}</ion-button>
            </ion-buttons>
            <ion-title>{{"Contact Details"|translate}}</ion-title>
        
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
        
          <ion-item>
            <ion-label position="stacked">{{"vehicleType"|translate}}</ion-label>
            <ion-input type="text"  [(ngModel)]="driverdetails.vehicleType" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{"vehicleNo"|translate}}</ion-label>
            <ion-input type="text"  [(ngModel)]="driverdetails.vehicleNo" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{"DriverName"|translate}}</ion-label>
            <ion-input type="text"  [(ngModel)]="driverdetails.DriverName" readonly></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{"DriverNumber"|translate}}</ion-label>
            <ion-input type="text"  [(ngModel)]="driverdetails.DriverNumber" readonly></ion-input>
          </ion-item>
          
        </ion-content>
      </ng-template>
    </ion-modal>
    </div>