<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button  menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <div align="center">
      <div style=" display:flex; justify-content:center;align-items:center;text-align:center; width:150px; height:60px;">
        <ion-img src="assets/trueTruk.png"></ion-img>
       </div>
       </div>
       <ion-icon name="notifications-outline" style=" margin-top: 7px; font-size: 30px; margin-left: -3px;" slot="end" routerLink="/all-notifications"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  
    
      <ion-list style="margin-left: 10px; margin-right:10px;"> 
        <ion-item style="border-bottom:2px solid black;margin-left: 10px; margin-right:10px;">
          <ion-label position="floating" >Select Pick up Location</ion-label>
  
          
            <ion-select interface="popover" [(ngModel)]="trukpickupLocation">
              <ion-select-option>Andhra Pradesh	</ion-select-option>
              <ion-select-option>Arunachal Pradesh	</ion-select-option>
              <ion-select-option>Assam</ion-select-option>
              <ion-select-option>Bihar</ion-select-option>
              <ion-select-option>Chhattisgarh</ion-select-option>
              <ion-select-option>Goa</ion-select-option>
              <ion-select-option>Gujarat</ion-select-option>
              <ion-select-option>Haryana</ion-select-option>
              <ion-select-option>Himachal Pradesh	</ion-select-option>
              <ion-select-option>Jharkhand</ion-select-option>
              <ion-select-option>Karnataka</ion-select-option>
              <ion-select-option>Kerala	</ion-select-option>
              <ion-select-option>Madhya Pradesh	</ion-select-option>
              <ion-select-option>Maharashtra</ion-select-option>
              <ion-select-option>Manipur</ion-select-option>
              <ion-select-option>Meghalaya</ion-select-option>
              <ion-select-option>Mizoram</ion-select-option>
              <ion-select-option>Nagaland</ion-select-option>
              <ion-select-option>Odisha</ion-select-option>
              <ion-select-option>Punjab</ion-select-option>
              <ion-select-option>Rajasthan</ion-select-option>
              <ion-select-option>Sikkim</ion-select-option>
              <ion-select-option>Tamil Nadu		</ion-select-option>
              <ion-select-option>Telangana</ion-select-option>
              <ion-select-option>Tripura	</ion-select-option>
              <ion-select-option>Uttar Pradesh	</ion-select-option>
              <ion-select-option>Uttarakhand</ion-select-option>
              <ion-select-option>West Bengal	</ion-select-option>
          
            </ion-select>
        
  
        </ion-item>
        <ion-item style="border-bottom:2px solid black;margin-left: 10px; margin-right:10px;">
          <ion-label position="floating">Select Drop Loaction</ion-label>
        
          
            <ion-select interface="popover" [(ngModel)]="trukdropLocation">
              <ion-select-option>Andhra Pradesh	</ion-select-option>
              <ion-select-option>Arunachal Pradesh	</ion-select-option>
              <ion-select-option>Assam</ion-select-option>
              <ion-select-option>Bihar</ion-select-option>
              <ion-select-option>Chhattisgarh</ion-select-option>
              <ion-select-option>Goa</ion-select-option>
              <ion-select-option>Gujarat</ion-select-option>
              <ion-select-option>Haryana</ion-select-option>
              <ion-select-option>Himachal Pradesh	</ion-select-option>
              <ion-select-option>Jharkhand</ion-select-option>
              <ion-select-option>Karnataka</ion-select-option>
              <ion-select-option>Kerala	</ion-select-option>
              <ion-select-option>Madhya Pradesh	</ion-select-option>
              <ion-select-option>Maharashtra</ion-select-option>
              <ion-select-option>Manipur</ion-select-option>
              <ion-select-option>Meghalaya</ion-select-option>
              <ion-select-option>Mizoram</ion-select-option>
              <ion-select-option>Nagaland</ion-select-option>
              <ion-select-option>Odisha</ion-select-option>
              <ion-select-option>Punjab</ion-select-option>
              <ion-select-option>Rajasthan</ion-select-option>
              <ion-select-option>Sikkim</ion-select-option>
              <ion-select-option>Tamil Nadu		</ion-select-option>
              <ion-select-option>Telangana</ion-select-option>
              <ion-select-option>Tripura	</ion-select-option>
              <ion-select-option>Uttar Pradesh	</ion-select-option>
              <ion-select-option>Uttarakhand</ion-select-option>
              <ion-select-option>West Bengal	</ion-select-option>
          
            </ion-select>
          
        
        </ion-item>
        <!--class="ion-no-margin"<ion-button fill="solid" shape="round" class="search"  
        (click)="vehicleSearch()" >Search</ion-button>-->
      </ion-list>

  
  <h3 >Select Vechile Type For Your load</h3>

  
  <div >
    <ion-row>
      <ion-segment [scrollable]="true" value="heart">
        <ion-col>
          <ion-segment-button value="heart" (click)="vehicleSearch()">
            <ion-icon name="filter" style="font-size: 20px;"></ion-icon>
            <p>Allvehicles</p>
          </ion-segment-button>
        </ion-col>

        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('LCV')" >
            <ion-label>LCV</ion-label>
            <p>1-8 Tonne</p>
          </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('Truk')" >
            <ion-label>Truk</ion-label>
            <p>1-42Tonne</p>
          </ion-segment-button>
        </ion-col>

        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('Hyva')">
            <ion-label>Hyva</ion-label>
            <p>1-35 Tonne</p>
          </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('Container')" >
            <ion-label>container</ion-label>
            <p>1-18 Tonne</p>
          </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('Trailer')" >
            <ion-label>Trailer</ion-label>
            <p>1-100 Tonne</p>
          </ion-segment-button>
        </ion-col>

        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('Tanker')" >
            <ion-label>Tanker</ion-label>
            <p>1-35 Tonne</p>
          </ion-segment-button>
        </ion-col>
      </ion-segment>
    </ion-row>
  </div>

<!--</ion-content>
 filter by vehicles form page -->
<div  *ngIf="itemlen !=0">
  <!--<ion-card  *ngFor="let text of item">
    <div style="float: left; margin-left: 1rem;">
      <img src="https://vamosys.com/wp-content/uploads/2021/05/top-6-lcv-vehicles-tata-ace-gold-petrol.png" width="25%"
        height="25%">
        <h4  ngDefaultControl>{{text.trukvehiclenumber}}</h4>
      <h4> {{text.trukcapacity}}Tons {{text.trukname}}</h4>
    </div>

    <div style="float: right; margin-top: -5rem;">
      <p>Current Location<b>{{text.trukcurrentLocation}}</b></p>
      <p>Routes <span style="color: blue; font-weight: bold;">{{text.trukoperatingRoutes.length}}</span><u>Location</u> <ion-icon name="location-outline"
          color="danger"></ion-icon></p>
      <h3>Placeholder For Badges</h3>
    </div>
    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Transpoter</ion-label>
    </ion-chip>

    <div style="text-align: center">
      ...............................................................................................</div>
    <ion-button style="float: right; margin-bottom: 12px;" shape="round" class="attach" id="open-modal"
      routerLink="/attach-prefferd-newload" (click)="AttachNewLoad(text)">AttachNewLoad</ion-button>
    <ion-button style="float: left;" shape="round" class="attach" id="open-modal" routerLink="/attach-load"
      (click)="SendData(text)">ExistingLoad</ion-button>

  </ion-card>-->
  <div class="card  text-center"  *ngFor="let text of item"  >
    

    <!--Card body-->
    <div class="card-body p-0" >
      <!--avatar-->
      <div style="display: flex;">
      <a  class="avatar xl bg-gray bg-opacity-10  position-relative  d-block mx-auto">
        <img src="https://vamosys.com/wp-content/uploads/2021/05/top-6-lcv-vehicles-tata-ace-gold-petrol.png" class="avatar-img img-fluid rounded-circle" alt="">
      </a>
      <div style="margin-right: 30px;">
      <h5 class="mb-0 ">
        <a  class="text-reset"><strong>{{text.isTrukOpenOrClose}}{{text.typeOfHyva}}{{text.typeOfTrailer}}{{text.typeOfContainer}}{{text.typeofTanker}}--{{text.trukname}}</strong></a>
      </h5>
   
    
      <span class="text-muted small d-block mb-2">
        <ion-chip>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Transpoter</ion-label>
        </ion-chip>
      </span>
      </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item px-3 d-flex align-items-center justify-content-between">
          <span class="text-muted small">Current Location</span>
          <strong>{{text.OriginLocation}}</strong>
        </li>
        <li class="list-group-item px-3 d-flex align-items-center justify-content-between">
          <span class="text-muted small">Vehicle Number</span>
          <strong style="text-transform:uppercase;">{{text.trukvehiclenumber}}</strong>
        </li>
        <li class="list-group-item px-3 d-flex align-items-center justify-content-between"  >
          <span class="text-muted small">Routes</span>
          <strong id="open-custom-dialog" style="color: blue;" data-toggle = "dropdown">{{text.trukoperatingRoutes.length}} locations


            <ul class = "dropdown-menu" role = "menu" style="height: max-height;overflow-y:scroll;">
             <li *ngFor="let route of text.trukoperatingRoutes index as i">&nbsp; &nbsp;&nbsp;&nbsp;<a>{{i+1}}.{{route}}</a></li>
          
              
             
           </ul>
                  
<!--<ion-modal id="example-modal" #modal trigger="open-custom-dialog" >
  <ng-template>
    <div class="wrapper">
      <ion-icon style="float: right; font-size:13px; color:black;" name="close-outline" (click)="modal.dismiss()"></ion-icon><br>
      <h1 style="white-space: nowrap;">Operating Routes</h1>

      <ion-list lines="none"  *ngFor="let route of text.selectedItems index as i">
        <ion-item button="true" detail="false" style="margin-left: 60px;">
          <ion-label >{{i+1}}.{{route.item_text}}</ion-label>
        </ion-item>
       
      </ion-list>
    </div>
  </ng-template>
</ion-modal>-->
          </strong>

        </li>

        
      
      </ul>
      <ion-button style="float: right;" shape="round" class="attach" 
       (click)="AttachNewLoad(text)">Attach Load</ion-button>
    <ion-button style="float: left;" shape="round" class="attach"  
      (click)="SendData(text)">Existing Load</ion-button>
    </div>
  </div>
</div>


<div *ngIf="itemlen === 0" class="noitem">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROYIDHG7JivZlXLJC27oeHti76eHrkkNdq_A&usqp=CAU" />
  <h1>No truk vehicle!</h1>
</div>



</ion-content>
