<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-menu-button  menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <div align="center">
      <div style=" display:flex; justify-content:center;align-items:center;text-align:center; width:150px; height:60px;">
        <ion-img src="assets/trueTruk.png"></ion-img>
       </div>
       </div>
       <ion-icon name="notifications-outline" style=" margin-top: 7px; font-size: 30px; margin-left: -3px;" slot="end" routerLink="/all-notifications"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-card style="height:60px; border-radius:11px;" [hidden]="logindata.role === 'Shipper'  || logindata.userRole == 'Driver'">
  <div style="display: flex; margin-top:19px;" align="center">

    <div class="form-check  form-check-inline " (click)="looking()" style=" margin-left:10px;" [hidden]="logindata.role === 'Fleet Owner'" >
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"  [checked]="loortr == 'trucks'" style="width: 20px; height:20px;" >
      <label class="form-check-label" for="exampleRadios1" style="font-size: 15px; font-weight:bolder;color:black;">
        Looking for Truks
      </label>
    </div>
    <div class="form-check form-check-inline" slot="end" class="load" (click)="lookingload()"  style="margin-left: 40px;">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" [checked]="loortr == 'loads'"  style="width: 20px; height:20px;" >
      &nbsp;&nbsp;<label class="form-check-label" for="exampleRadios2" style="font-size: 15px; font-weight:bolder;color:black; margin-top:6px;">
        Looking for loads
      </label>
    </div>
  
  </div>

  </ion-card>

<ion-content>

  
    
      <ion-list style="margin-left: 10px; margin-right:10px;"> 
        <ion-item style="border-bottom:2px solid black;margin-left: 10px; margin-right:10px;">
          <ion-label position="floating" >Select Pick-up Location</ion-label>
  
          
            <ion-select interface="popover" [(ngModel)]="trukpickupLocation">
              <ion-select-option>Andhra Pradesh	</ion-select-option>
              <ion-select-option>Arunachal Pradesh	</ion-select-option>
              <ion-select-option>Assam</ion-select-option>
              <ion-select-option>Bihar</ion-select-option>
              <ion-select-option>Chhattisgarh</ion-select-option>
              <ion-select-option>Goa</ion-select-option>
              <ion-select-option>Gujarat</ion-select-option>
              <ion-select-option>Haryana</ion-select-option>
              <ion-select-option>Himachal Pradesh	</ion-select-option>
              <ion-select-option>Jharkhand</ion-select-option>
              <ion-select-option>Karnataka</ion-select-option>
              <ion-select-option>Kerala	</ion-select-option>
              <ion-select-option>Madhya Pradesh	</ion-select-option>
              <ion-select-option>Maharashtra</ion-select-option>
              <ion-select-option>Manipur</ion-select-option>
              <ion-select-option>Meghalaya</ion-select-option>
              <ion-select-option>Mizoram</ion-select-option>
              <ion-select-option>Nagaland</ion-select-option>
              <ion-select-option>Odisha</ion-select-option>
              <ion-select-option>Punjab</ion-select-option>
              <ion-select-option>Rajasthan</ion-select-option>
              <ion-select-option>Sikkim</ion-select-option>
              <ion-select-option>Tamil Nadu		</ion-select-option>
              <ion-select-option>Telangana</ion-select-option>
              <ion-select-option>Tripura	</ion-select-option>
              <ion-select-option>Uttar Pradesh	</ion-select-option>
              <ion-select-option>Uttarakhand</ion-select-option>
              <ion-select-option>West Bengal	</ion-select-option>
          
            </ion-select>
        
  
        </ion-item>
        <ion-item style="border-bottom:2px solid black;margin-left: 10px; margin-right:10px;">
          <ion-label position="floating">Select Drop Loaction</ion-label>
        
          
            <ion-select interface="popover" [(ngModel)]="trukdropLocation">
              <ion-select-option>Andhra Pradesh	</ion-select-option>
              <ion-select-option>Arunachal Pradesh	</ion-select-option>
              <ion-select-option>Assam</ion-select-option>
              <ion-select-option>Bihar</ion-select-option>
              <ion-select-option>Chhattisgarh</ion-select-option>
              <ion-select-option>Goa</ion-select-option>
              <ion-select-option>Gujarat</ion-select-option>
              <ion-select-option>Haryana</ion-select-option>
              <ion-select-option>Himachal Pradesh	</ion-select-option>
              <ion-select-option>Jharkhand</ion-select-option>
              <ion-select-option>Karnataka</ion-select-option>
              <ion-select-option>Kerala	</ion-select-option>
              <ion-select-option>Madhya Pradesh	</ion-select-option>
              <ion-select-option>Maharashtra</ion-select-option>
              <ion-select-option>Manipur</ion-select-option>
              <ion-select-option>Meghalaya</ion-select-option>
              <ion-select-option>Mizoram</ion-select-option>
              <ion-select-option>Nagaland</ion-select-option>
              <ion-select-option>Odisha</ion-select-option>
              <ion-select-option>Punjab</ion-select-option>
              <ion-select-option>Rajasthan</ion-select-option>
              <ion-select-option>Sikkim</ion-select-option>
              <ion-select-option>Tamil Nadu		</ion-select-option>
              <ion-select-option>Telangana</ion-select-option>
              <ion-select-option>Tripura	</ion-select-option>
              <ion-select-option>Uttar Pradesh	</ion-select-option>
              <ion-select-option>Uttarakhand</ion-select-option>
              <ion-select-option>West Bengal	</ion-select-option>
          
            </ion-select>
          
        
        </ion-item>
        <!--class="ion-no-margin"<ion-button fill="solid" shape="round" class="search"  
        (click)="vehicleSearch()" >Search</ion-button>-->
      </ion-list>

  
  <h3 style="display: flex;
  justify-content: center;
  font-size: 20px;" >Filter by Vehicle Type</h3>

  
  <div >
    <ion-row>
      <ion-segment [scrollable]="true" value="heart">
        <ion-col>
          <ion-segment-button value="heart" (click)="vehicleSearch()">
            <ion-icon name="filter" style="font-size: 20px;"></ion-icon>
            <p>Allvehicles</p>
          </ion-segment-button>
        </ion-col>

        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('LCV')" >
            <ion-label>LCV</ion-label>
            <p>1-8 Tonnes</p>
          </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('Truk')" >
            <ion-label>Truk</ion-label>
            <p>1-42Tonnes</p>
          </ion-segment-button>
        </ion-col>

        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('Hyva')">
            <ion-label>Hyva</ion-label>
            <p>1-35 Tonnes</p>
          </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('Container')" >
            <ion-label>container</ion-label>
            <p>1-18 Tonnes</p>
          </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('Trailer')" >
            <ion-label>Trailer</ion-label>
            <p>1-100 Tonnes</p>
          </ion-segment-button>
        </ion-col>

        <ion-col>
          <ion-segment-button (click)="getOperatingroutes('Tanker')" >
            <ion-label>Tanker</ion-label>
            <p>1-35 Tonnes</p>
          </ion-segment-button>
        </ion-col>
      </ion-segment>
    </ion-row>
  </div>

<!--</ion-content>
 filter by vehicles form page -->
<div  *ngIf="itemlen !=0">
 
  <div class="card  text-center"  *ngFor="let text of item"  >
    

    <!--Card body-->
    <div class="card-body p-0" >
      <!--avatar-->
      <div style="display: flex; padding-bottom:10px;">
      <a *ngIf="text.trukname == 'LCV'" class="avatar xl bg-gray bg-opacity-10  position-relative  d-block mx-auto ">
        <img src="https://vamosys.com/wp-content/uploads/2021/05/top-6-lcv-vehicles-tata-ace-gold-petrol.png" class="avatar-img img-fluid rounded-circle" alt="">
      </a>
      <a *ngIf="text.trukname == 'Tanker'" class="avatar xl bg-gray bg-opacity-10  position-relative  d-block mx-auto">
        <img src="https://sc04.alicdn.com/kf/HTB12f2keirpK1RjSZFhq6xSdXXa6.jpg" class="avatar-img img-fluid rounded-circle" alt="">
      </a>
      <a *ngIf="text.trukname == 'Hyva'" class="avatar xl bg-gray bg-opacity-10  position-relative  d-block mx-auto">
        <img src="https://cms.eichertrucksandbuses.com/uploads/truck/exterior/d3a75f14ce8935f16998f318360966a0.jpg" class="avatar-img img-fluid rounded-circle" alt="">
      </a>
      <a *ngIf="text.trukname == 'Truk'" class="avatar xl bg-gray bg-opacity-10  position-relative  d-block mx-auto">
        <img src="https://www.bharatbenz.com/uploads/truck_images/product_types/main_1661768896.png" class="avatar-img img-fluid rounded-circle" alt="">
      </a>
      <a *ngIf="text.trukname == 'Trailer'" class="avatar xl bg-gray bg-opacity-10  position-relative  d-block mx-auto">
        <img src="https://tatatrucks.tatamotors.com/images/tata-heavy-medium-trucks/fully-built-solutions/tata-flat-bed-trailer/flatbedtrailer-overview.png" class="avatar-img img-fluid rounded-circle" alt="">
      </a>
      <a *ngIf="text.trukname == 'Container'" class="avatar xl bg-gray bg-opacity-10  position-relative  d-block mx-auto " style="padding-bottom:10px;">
        <img src="https://www.icemakeindia.com/wp-content/uploads/2019/08/Refrigerated-Container-8-1024x1024.png" class="avatar-img img-fluid rounded-circle" alt="">
      </a>
      <div style="margin-right: 30px;">
      <h5 class="mb-0 ">
        <a  class="text-reset"><strong>{{text.isTrukOpenOrClose}}{{text.typeOfHyva}}{{text.typeOfTrailer}}{{text.typeOfContainer}}{{text.typeofTanker}}--{{text.trukname}}</strong></a>
      </h5>
   
    
      <span class="text-muted small d-block mb-2">
        <!-- <ion-chip>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Transpoter</ion-label>
        </ion-chip> -->
      </span>
      </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item px-3 d-flex align-items-center justify-content-between">
          <span class="text-muted small">Current Location</span>
          <strong style="width: 150px;">{{text.OriginLocation}}</strong>
        </li>
        <li class="list-group-item px-3 d-flex align-items-center justify-content-between">
          <span class="text-muted small">Vehicle Number</span>
          <strong style="text-transform:uppercase;">{{text.trukvehiclenumber}}</strong>
        </li>
        <li class="list-group-item px-3 d-flex align-items-center justify-content-between"  >
          <span class="text-muted small">Routes</span>
          <strong id="open-custom-dialog" style="color: blue;" data-toggle = "dropdown">{{text.trukoperatingRoutes.length}} locations


            <ul class = "dropdown-menu" role = "menu" style="height: 200px;overflow-y:scroll;">
             <li *ngFor="let route of text.trukoperatingRoutes index as i">&nbsp; &nbsp;&nbsp;&nbsp;<a>{{i+1}}.{{route}}</a></li>
          
              
             
           </ul>

          </strong>

        </li>

        
      
      </ul>
      <ion-button style="float: right;" shape="round" class="attach" 
       (click)="AttachNewLoad(text)">Attach Load</ion-button>
    <ion-button style="float: left;" shape="round" class="attach"  
      (click)="SendData(text)">Existing Load</ion-button>
    </div>
  </div>
</div>


<div *ngIf="itemlen === 0" class="noitem">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROYIDHG7JivZlXLJC27oeHti76eHrkkNdq_A&usqp=CAU" />
  <h1>No Truks Avaliable!</h1>
</div>



</ion-content>
