.form-control{
  border-radius: 15px;
  box-shadow: 2px 2px 2px lightgray;
}
.next{
  --background: #F58E26;
}
.Next{
  --background: #F58E26;
  float: right; 
}
.previous{
  --background: #F58E26;
}
ion-checkbox {
  --size: 32px;
  --background-checked: #F58E26;
}



.length{
  outline-color: #F58E26;
}

.payment{
  border: 2px solid #F58E26;
  border-radius: 10px;

}

.load{
  border: 2px solid #F58E26;
  border-radius: 10px;
}

.truck{
  border: 2px solid #F58E26;
  border-radius: 10px;
}


#card{

  visibility: hidden;

}

#car{

visibility: hidden;

}

#ca{

visibility: hidden;

}

#cad{

visibility: hidden;

}

#Trailer{

visibility: hidden;

}
#container{

visibility: hidden;

}



.vehicle{
  -webkit-appearance: none;
}




.typeOfVehicle{
  visibility: hidden;

}
.vehiclelabel{
  width:100px;
  height: 40px;
  padding: 4px;
  margin-bottom: 10px;
  
  border: 1px solid #000;
  border-radius: 7px;
  
}
.typeOfVehicle:checked + .vehiclelabel{
  background-color:#f58e26 ;
  color: #ffffff;

}

.vehicle:checked + .selveh {
background-color: #f58e26;
color: #ffffff;
box-shadow: 0 15px 45px rgb(24,249,141,0.2);
}

.imgdiv{
  padding: 6px;
}
.shipperdiv{
  margin-top: 20px;
  margin-left: 15px;
  font-weight: bolder;
  font-size: 18px;
  color: black;

}

.selveh{
  //border: 3px solid #f58e26;
  display: flex;
  margin-left: 8px;
  margin-right: 8px ;
  border-radius: 30px;
  position: relative;
  color: #f58e26;
  background-color: #e5e5e5;
  width: 340px;
  }
  
  
  .selveh>span {
  font-size: 25px;
  
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 80%);
  }
// ion-button{
//   background: #f58e26;
//   height:50px ;
//  border-radius: 10px;
//   margin: 10px;
//   margin-bottom: 30px;
  
// }