<ion-app >
  <ion-menu menuId="main-menu" content-id="main"  >
    
    <ion-content >
      <div class="menu-header-bg"></div>
      <div class="header-content" >
        <img src="https://wallpapercave.com/wp/wp5968727.png" alt="">
        <ion-label>
          <p style="font-size: 20px;">{{logindata.firstName}} {{logindata.lastName}}</p>
          <p style="font-size: 15px;">{{logindata.role}}</p>
          <p style="font-size: 15px;">{{logindata.mobileNo}}</p>
        </ion-label>
      </div>
      <!--<div class="action-button">
        <ion-button>
          <ion-icon slot="start" name="add">Add Branch</ion-icon>
        </ion-button>
      </div>-->

      <ion-list class="menu-items">
        <ion-menu-toggle>
        <ion-item routerLink="/profile">
          <ion-icon  name="person-circle-outline"></ion-icon>My Profile
        </ion-item>
      </ion-menu-toggle>
<!--     
      <ion-menu-toggle >
        <ion-item [hidden]="logindata.role == 'Shipper'" routerLink="/drivers" (click)="location()">
          
          <ion-icon name="hammer-outline"></ion-icon>My drivers
         
        </ion-item>
      </ion-menu-toggle> -->
      <ion-menu-toggle>
        <ion-item routerLink="/referral">
          
          <ion-icon name="wallet-outline"></ion-icon>Refer & Earn
         
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/help-and-guide">
          
          <ion-icon name="help-circle-outline"></ion-icon>Help & Guide
          
        </ion-item>
      </ion-menu-toggle>

     
        <ion-item  id="open-modal">
         
          <ion-icon name="star-outline"></ion-icon>Rate-Us
          
        </ion-item>
    

      <ion-menu-toggle>
        <ion-item routerLink="/contact-us">
         
          <ion-icon name="call-outline"></ion-icon>Contact-us
        
        </ion-item>
      </ion-menu-toggle>
        <!--<ion-item >
          <ion-menu-toggle>
          <ion-icon name="settings-outline"></ion-icon>Setting
          </ion-menu-toggle>
        </ion-item>-->
        <ion-menu-toggle>
        <ion-item href="http://trukapp.com/terms-and-conditions/">
          
          <ion-icon name="document-text-outline"></ion-icon>Terms & Conditions
        
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item href="http://trukapp.com/privacy-policy/">
         
          <ion-icon name="lock-closed-outline"></ion-icon>Privacy Policy
          
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/about-us">
          
          <ion-icon name="information-circle-outline"></ion-icon>About Us
          
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="signout()">
          
          <ion-icon name="exit-outline"></ion-icon>Log-out
        
        </ion-item>
      </ion-menu-toggle>
      </ion-list>

      <div class="action-button">

      </div>
    </ion-content>

  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>


<ion-modal #modal trigger="open-modal">
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title>Staring</ion-title>
        <ion-buttons slot="end">
          <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-list>
        <!-- <div class="rating"><br><br><br>
          <ng-container *ngFor="let i of star">
            <i class="fa fa-star fa-2x " aria-hidden="true" id="rate" (click)="updateRating(i)"
              [ngClass]="{'active':i<=rating }"></i>
          </ng-container>
        </div><br> -->

        <img src="assets/undraw_for_review_eqxk 1.png">
        <h4>You can submit the rating on play store</h4>
        <ion-button href="https://play.google.com/store/apps/details?id=com.trukapp">Rate us play Store</ion-button>

      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

   
  


