<ion-header [translucent]="true">
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon  name="arrow-back-sharp"  (click)="goback()" style="font-size: 30px;"></ion-icon>
      <!-- <ion-icon *ngIf="logindata.role == 'Transporter'||logindata.role == 'Fleet Owner'||logindata.role == 'Agent/Broker'" name="arrow-back-sharp" routerLink="/tab/tab2" style="font-size: 30px;"></ion-icon> -->
      <ion-title style="text-align:center;">TrukApp Referral</ion-title>
    </div>
  </ion-toolbar>
</ion-header>




<ion-content>
  <div style="text-align: center;">
    <h1 style="color: #f58e26;;">How it Works <ion-icon name="information-circle" id="click-trigger"></ion-icon></h1>
    <ion-popover trigger="click-trigger" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding">
          ■ Share the Referral code with your friend. <br>
■ Your friend should use the code to sign up into TrukApp.  <br>
■ The Coins will be credited ONLY when your friend verifies KYC.  <br>
■ You will receive 100 coins for each unique referral signup.    <br>
■ You can withdraw referral coins by raising a withdrawal request.    <br>
■ Withdrawal requests should be in denominations of 100.    <br>
■ Maximum coins one can withdraw at once is 500.   <br>
■ Maximum Referral Money one can earn is 1000 INR.    
        </ion-content>
      </ng-template>
    </ion-popover>
  </div>
  <div class="container">
    <ion-card style="border-radius: 10px; width:auto;">

      <ion-card-title style="text-align: center;font-size:19px;margin-top:10px;">Invite your friends</ion-card-title>
    
      <div style=" padding:13px;">
        
         <span align="center" style="text-align: center;font-size:15px;">{{url}}</span>&nbsp;&nbsp;
         <ion-icon name="copy-outline" style="font-size:20px; padding-top:5px;"  color="primary"  (click)="copyString()"></ion-icon>
         <div  style="border: 2px solid rgb(225, 150, 1); border-radius:7px;padding:4px;width:220px;margin-left: 35px;" >
         <span style="text-align: center;font-size:15px;"><span style="font-weight: bolder;">Referral Code: </span>{{logindata.referalCode}}</span>&nbsp;&nbsp;
         <ion-icon name="copy-outline" style="font-size:20px; "  color="primary"  (click)="copycode()"></ion-icon>
        
        </div>

        
      </div>
   

      <div style="text-align: center; margin:5px;">
        
          <ion-button (click)="sShare()" shape="round" class="share">Share Now</ion-button>
       
      </div>

    </ion-card>
  </div>
  <br>
  <!-- <ion-card>
    <ion-card-title style="text-align: center;">Invite from your contacts</ion-card-title><br>
    <div style="text-align: center;">
      <ion-button shape="round" style="text-align: center;" class="view" expand="full">View Contacts</ion-button>
    </div>
  </ion-card> -->
  <br><br>
  <div style="text-align: center;">
    <img src="assets/image 28.png">
    <br><br><br>
    <ion-button class="earn" routerLink="/your-earnings"> Go To your Earnings</ion-button>
  </div>
 

</ion-content>