<ion-header>
  <ion-toolbar>
    <div align="center">
      <div style=" display:flex; justify-content:center;align-items:center;text-align:center;  width:150px; height:60px;">
        <ion-img  src="assets/trueTruk.png"></ion-img>
       </div>
       </div>
       <ion-icon name="notifications-outline" style=" margin-top: 7px; font-size: 30px; margin-left: -3px;" slot="end" routerLink="/all-notifications"></ion-icon>

                          
  </ion-toolbar>
</ion-header>

<ion-card style="height:60px; border-radius:11px;" [hidden]="logindata.role === 'Shipper'  || logindata.userRole == 'Driver'">
  <div style="display: flex; margin-top:19px;" align="center">

    <div class="form-check  form-check-inline " (click)="looking()" style=" margin-left:10px;" [hidden]="logindata.role === 'Fleet Owner'">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"  [checked]="loortr == 'trucks'" style="width: 20px; height:20px;" >
      <label class="form-check-label" for="exampleRadios1" style="font-size: 15px; font-weight:bolder;color:black;">
        Looking for Truks
      </label>
    </div>
    <div class="form-check form-check-inline" slot="end" class="load" (click)="lookingload()"  style="margin-left: 40px;">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" [checked]="loortr == 'loads'"  style="width: 20px; height:20px;" >
      &nbsp;&nbsp;<label class="form-check-label" for="exampleRadios2" style="font-size: 15px; font-weight:bolder;color:black; margin-top:6px;">
        Looking for loads
      </label>
    </div>
  
  </div>

  </ion-card>



  <br>
  <div class="container">
    <ion-row>
      <ion-segment [scrollable]="true" value="home">
  
     
        <ion-col>
          <ion-segment-button value="home" (click)="toggles()">
            <ion-label style="font-size: 10px;">Active</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button value="star" (click)="deactive()">
            <ion-label style="font-size: 10px;">Deactive</ion-label>
          </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button value="wars" (click)="inproge()">
            <ion-label style="font-size: 10px;">In-Progress</ion-label>
          </ion-segment-button>
        </ion-col>
   
        <ion-col>
          <ion-segment-button value="call" (click)="completedtog()">
            <ion-label style="font-size: 10px;">Completed</ion-label>
          </ion-segment-button>
        </ion-col>
      </ion-segment>
    </ion-row>
  </div>
  <ion-content *ngIf="itemlen !=0">
 
    
    <div class="card" *ngFor="let text of item.slice().reverse()" >
      <div class="card-body" >

          <div class="dropdown" style="float: right;" *ngIf="text.trukisActive == 'Active'" >
            <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              D
            </button>-->
            <i class="bx bx-dots-horizontal-rounded" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px;" ></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <!-- <a class="dropdown-item" routerLink="/truk-edit-page" (click)="SendData(text)" >Edit</a> -->
              <a class="dropdown-item" (click)="isactive(text)">Deactive</a><a class="dropdown-item" (click)="deleteTruk(text._id)">Delete</a>
              <a class="dropdown-item" (click)="reactive(text._id)">Reactivate</a>
              <a class="dropdown-item"  (click)="moredetails(text)" routerLink="/trukmore-details" >More Details</a>
            </div>
          </div>
     

          <div class="d-flex align-items-center">
              <div>
                <a *ngIf="text.trukname == 'LCV'" >
                  <img src="https://vamosys.com/wp-content/uploads/2021/05/top-6-lcv-vehicles-tata-ace-gold-petrol.png" class="avatar-md rounded-circle img-thumbnail" alt="">
                </a>
                <a *ngIf="text.trukname == 'Tanker'" >
                  <img src="https://sc04.alicdn.com/kf/HTB12f2keirpK1RjSZFhq6xSdXXa6.jpg" class="avatar-md rounded-circle img-thumbnail" alt="">
                </a>
                <a *ngIf="text.trukname == 'Hyva'" >
                  <img src="https://cms.eichertrucksandbuses.com/uploads/truck/exterior/d3a75f14ce8935f16998f318360966a0.jpg" class="avatar-md rounded-circle img-thumbnail" alt="">
                </a>
                <a *ngIf="text.trukname == 'Truk'" >
                  <img src="https://www.bharatbenz.com/uploads/truck_images/product_types/main_1661768896.png" class="avatar-md rounded-circle img-thumbnail" alt="">
                </a>
                <a *ngIf="text.trukname == 'Trailer'" >
                  <img src="https://tatatrucks.tatamotors.com/images/tata-heavy-medium-trucks/fully-built-solutions/tata-flat-bed-trailer/flatbedtrailer-overview.png" class="avatar-md rounded-circle img-thumbnail" alt="">
                </a>
                <a *ngIf="text.trukname == 'Container'" >
                  <img src="https://www.icemakeindia.com/wp-content/uploads/2019/08/Refrigerated-Container-8-1024x1024.png" class="avatar-md rounded-circle img-thumbnail" alt="">
                </a>
                <br>
              &nbsp;&nbsp;<span style="color: black; font-weight:bolder;" *ngIf="text.trukisActive == 'Active'">{{text.trukisActive}}</span> <span style="color: rgb(237, 27, 27); font-weight:bolder;" *ngIf="text.trukisActive == 'Deactive'">{{text.trukisActive}}</span><span style="color: rgb(27, 237, 62); font-weight:bolder;" *ngIf="text.trukisActive == 'Completed'">{{text.trukisActive}}</span>
              </div>
              <div class="flex-1 ms-3">
                  <h5 class="font-size-16 mb-1" style="color:black; font-weight:bolder; text-transform:uppercase;"><a  class="text-dark">{{text.trukvehiclenumber}}</a></h5>
                  <span class="badge badge-soft-success mb-0"> Posted On {{text.trukdate}}</span>
              </div>
          </div>
          <div class="mt-1 pt-0">
             &nbsp;&nbsp;&nbsp; <p  class="text-muted mb-0 mt-0"  ><i class="fa fa-location-arrow font-size-15 align-middle pe-2 " ></i> {{text.trukoperatingRoutes.length}} Routes</p>
              <p  class="text-muted mb-0 mt-2">&nbsp;<i class=" fa fa-truck font-size-15 align-middle pe-2 "></i>{{text.isTrukOpenOrClose}}{{text.typeOfHyva}}{{text.typeOfTrailer}}{{text.typeOfContainer}}{{text.typeofTanker}} --{{text.trukname}}</p>
              <p class="text-muted mb-0 mt-2">&nbsp;<i class="fa fa-map-marker font-size-15 align-middle pe-2 "></i>  Avaliable in <span style="color:black; font-weight:bolder;"> {{text.OriginLocation}}</span></p>
          </div>
          <div style="display:inline-flex; display: flex;
          text-align: center;
          justify-content: center; margin-top:6px;"  *ngIf="text.trukisActive == 'Active'">
          
              <button type="button" class="viewbidbtn" class="notification"  (click)="bidbyId(text)">
                <span> View Bids</span>
                <span class="badge">{{text.attachedLoadIds.length}}</span>
        
                </button>
            
          </div>
          <div style="display:inline-flex; display: flex; text-align: center; justify-content: center; margin-top:6px;"  *ngIf="text.trukisActive == 'Completed'">
          
              <button type="button" class="viewbidbtn" class="notification"  (click)="bidbyId(text)">
                <span style="white-space: nowrap;"> View Contact</span>
          
        
                </button>
            
          </div>

          <div style="display:inline-flex; display: flex; text-align: center; justify-content: center; margin-top:6px;"  *ngIf="text.trukisActive == 'In-Progress'">
          
            <button type="button" class="viewbidbtn" class="notification"  (click)="bidbyId(text)">
              <span style="white-space: nowrap;"> View Bids</span>
        
      
              </button>
          
        </div>
      </div>
      </div>
  

</ion-content>

<ion-content *ngIf="itemlen ==0" class="noitem">
  <div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROYIDHG7JivZlXLJC27oeHti76eHrkkNdq_A&usqp=CAU" />
    <h1>No truk vehicle!</h1>
  </div>
</ion-content>

<div class="center">
  <ion-button routerLink="/add-truck" class="bb" expand="full" >Add Truk</ion-button>


</div> 



