<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" routerLink="/tab/mytrucks" style="font-size: 30px;"></ion-icon>
      <ion-title>Add Truk</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div class="container">
    <div>
      <h2 style="text-align: center; color:black; border-bottom:5px solid  #f58e26 ; border-radius: 3px;">Add New Truk
      </h2>
      <div class="form-group">
        <ion-label position="floating">Enter Vehicle Number</ion-label>
        <input placeholder="K.A 10 5555" [(ngModel)]="trukvehiclenumber" class="form-control"
          style="text-transform:uppercase">
      </div>
      

      <div class="form-group">
        <ion-label position="floating">Current Location</ion-label>
        <ion-input type="text" class="form-control" placeholder="Current vehicle location" [(ngModel)]="OriginLocation"
          class="form-control" (ionInput)="GetOriginLocation(OriginLocation)"
          (ionClear)="ClearAutocomplete()"></ion-input>
          
      </div>

      <!--showing the list of address-->
      <ion-list [hidden]="autocompleteItems.length == 0">
        <ion-icon (click)="ClearAutocomplete()" name="close-outline" style="color:rgb(201, 13, 13);"
          style="float:right;font-size:20px;"></ion-icon>
        <ion-list *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
          {{ item.description }}
        </ion-list>
      </ion-list>
    
      <div>
        <ion-label position="floating">Add Your Vehicle Routes</ion-label>
        <ng-multiselect-dropdown [placeholder]="'Add Your Vehicle Routes (States)'" [settings]="dropdownSettings"
          [data]="dropdownList" [(ngModel)]="trukoperatingRoutes" (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
      </div>
      <br>
      <div class="form-group">
        
        <div class="form-control">
          <ion-input type="datetime-local" style="border: none; " [(ngModel)]="trukdate" placeholder="Date & Time"> Date & Time</ion-input>
        </div>
      </div>
    </div>


    <div>
      <h2 style="text-align: center; color:black; border-bottom:5px solid  #f58e26 ; border-radius: 3px;">Choose One
        Truk </h2>
      <div>
        <div>
          <input type="radio" name="payment" id="card" (change)="out('Tanker')" class="vehicle">
          <label for="card" class="selveh">

            <div class="imgdiv">
              <img src="https://sc04.alicdn.com/kf/HTB12f2keirpK1RjSZFhq6xSdXXa6.jpg"
                style="width: 65px; height:65px; border-radius:50%;">
            </div>

            <div class="shipperdiv">
              Tanker (1 to 35 KL)
            </div>

          </label>
        </div>

        <div>
          <input type="radio" name="payment" id="cash" (change)="out('Hyva')" class="vehicle">
          <label for="cash" class="selveh">
            <div class="imgdiv">
              <img
                src="https://cms.eichertrucksandbuses.com/uploads/truck/exterior/d3a75f14ce8935f16998f318360966a0.jpg"
                style="width: 65px; height:65px; border-radius:50%;">
            </div>

            <div class="shipperdiv">
              Hyva (1 to 35 Tonnes)
            </div>
          </label>
        </div>



        <div>
          <input type="radio" name="payment" id="csh" (change)="out('LCV')" class="vehicle">
          <label for="csh" class="selveh">
            <div class="imgdiv">
              <img src="https://vamosys.com/wp-content/uploads/2021/05/top-6-lcv-vehicles-tata-ace-gold-petrol.png"
                style="width: 65px; height:65px; border-radius:50%;">
            </div>

            <div class="shipperdiv">
              LCV (1 to 6 Tonnes)
            </div>
          </label>
        </div>

        <div>
          <input type="radio" name="payment" id="ash" (change)="out('Truk')" class="vehicle">
          <label for="ash" class="selveh">
            <div class="imgdiv">
              <img src="https://www.bharatbenz.com/uploads/truck_images/product_types/main_1661768896.png"
                style="width: 65px; height:65px; border-radius:50%;">
            </div>

            <div class="shipperdiv">
              Truk (1 to 14 Tonnes)
            </div>
          </label>
        </div>

        <div>
          <input type="radio" name="payment" id="Trailer" (change)="out('Trailer')" class="vehicle">
          <label for="Trailer" class="selveh">
            <div class="imgdiv">
              <img
                src="https://tatatrucks.tatamotors.com/images/tata-heavy-medium-trucks/fully-built-solutions/tata-flat-bed-trailer/flatbedtrailer-overview.png"
                style="width: 65px; height:65px; border-radius:50%;">
            </div>

            <div class="shipperdiv">
              Trailer (1 to 52 Tonnes)
            </div>
          </label>
        </div>

        <div>
          <input type="radio" name="payment" id="Container" (change)="out('Container')" class="vehicle">
          <label for="Container" class="selveh">
            <div class="imgdiv">
              <img src="https://www.icemakeindia.com/wp-content/uploads/2019/08/Refrigerated-Container-8-1024x1024.png"
                style="width: 65px; height:65px; border-radius:50%;">
            </div>

            <div class="shipperdiv">
              Container (1 to 45 Tonnes)
            </div>
          </label>
        </div>

        <ion-card style="height: auto;" *ngIf="trukname =='Truk'">
          <ion-card-title style="font-size: 19px;margin-top:6px;">Select the Truk type:</ion-card-title>
          <br>
          <div style="display: flex; flex-direction:coloumn; justify-content:center" [(ngModel)]="isTrukOpenOrClose">
            <div>
            <input type="radio" id="1" name="hyva" value="Open Body" class="typeOfVehicle" (change)="truk('Open Body')"/>
            <label for="1" class="vehiclelabel" style="padding-top: 10px;font-size: medium;text-align: center">Open Body</label>
            </div>
            <div>
            <input type="radio" id="2" name="hyva" value="Close Body" class="typeOfVehicle" (change)="truk('Close Body')"/>
            <label for="2" class="vehiclelabel" style="padding-top: 10px;font-size: medium;text-align: center">Close Body</label>
            </div>
          </div>



        </ion-card>

        

        <ion-card style="height: auto;" *ngIf="trukname =='Hyva'">
          <ion-card-title style="font-size: 19px;margin-top:6px;">Select the Hyva type:</ion-card-title><br> 
          
          <div style="display: flex; flex-direction:coloumn; justify-content:center;" [(ngModel)]="typeOfHyva">


<div>
  <input type="radio" id="1" name="hyva" class="typeOfVehicle" (change)="HYVA('10 Tyre')"/>
  <label for="1" class="vehiclelabel" style="padding-top: 10px;font-size: medium;text-align: center">10 Tyre</label>
</div>

      <div>
        <input type="radio" id="2" name="hyva" class="typeOfVehicle" (change)="HYVA('12 Tyre')"/>
        <label for="2" class="vehiclelabel" style="padding-top: 10px;font-size: medium;text-align: center">12 Tyre</label>
      </div>

     
  
  
          </div>
          <div style="display: flex; flex-direction:coloumn; justify-content:center;" [(ngModel)]="typeOfHyva" >
            <input type="radio" id="3" name="hyva" class="typeOfVehicle" (change)="HYVA('14 Tyre')"/>
            <label for="3" class="vehiclelabel" style="padding-top: 10px;font-size: medium;">14 Tyre</label>
          </div>
        </ion-card>

        <ion-card style="height: auto;" *ngIf="trukname =='Trailer'">
          <ion-card-title style="font-size: 19px;margin-top:6px;">Select the Trailer type:</ion-card-title><br>
          
          <div style="display: flex; flex-direction:coloumn; justify-content:center;"  [(ngModel)]="typeOfTrailer">
           <div>
            <input type="radio" id="1" name="hyva" class="typeOfVehicle" (change)="trailer('High Bed')"/>
            <label for="1" class="vehiclelabel" style="padding-top: 10px;padding-left: 13px;font-size: medium;">High Bed</label>
           </div>
           <div>
            <input type="radio" id="2" name="hyva" class="typeOfVehicle" (change)="trailer('Semi Bed')"/>
            <label for="2" class="vehiclelabel" style="padding-top: 10px;padding-left: 13px;font-size: medium;">Semi Bed</label>
           </div>

  
  
          </div>
          <div style="display: flex; flex-direction:coloumn; justify-content:center;"   [(ngModel)]="typeOfTrailer">
            <input type="radio" id="3" name="hyva" class="typeOfVehicle" (change)="trailer('Low Bed')"/>
            <label for="3" class="vehiclelabel" style="padding-top: 10px;padding-left: 13px;font-size: medium;">Low Bed</label>
          </div>
        </ion-card>


        <ion-card style="height: auto;" *ngIf="trukname =='Container'">
          <ion-card-title style="font-size: 19px;margin-top:6px;">Select the Container type:</ion-card-title>
          <br>
          <div style="display: flex; flex-direction:coloumn; justify-content:center;"  [(ngModel)]="typeOfContainer">
       <div>
        <input type="radio" id="1" name="hyva" class="typeOfVehicle" (change)="container('32 ft sxl')"/>
        <label for="1" class="vehiclelabel" style="padding-top: 10px;font-size: 12px; text-align: center;">32 ft sxl</label>
       </div>
           <div>
            <input type="radio" id="2" name="hyva" class="typeOfVehicle" (change)="container('32 ft sxl HQ')"/>
            <label for="2" class="vehiclelabel" style="padding-top: 10px;font-size: 12px;text-align: center">32 ft sxl HQ</label>
           </div>
       <div>
        <input type="radio" id="3" name="hyva" class="typeOfVehicle" (change)="container('32ft mxl')"/>
        <label for="3" class="vehiclelabel" style="padding-top: 10px;font-size: 12px;text-align: center">32ft mxl</label>
       </div>
       </div>
       <div  style="display: flex; flex-direction:coloumn; justify-content:center;"  [(ngModel)]="typeOfContainer">
        <div>
            <input type="radio" id="5" name="hyva" class="typeOfVehicle" (change)="container('32ft mxl HQ')"/>
            <label for="5" class="vehiclelabel" style="padding-top: 10px;font-size: 12px;text-align: center">32ft mxl HQ</label>
            </div>
         <div>
          <input type="radio" id="6" name="hyva" class="typeOfVehicle" (change)="container('19ft Sxl')"/>
          <label for="6" class="vehiclelabel" style="padding-top: 10px;font-size: 12px;text-align: center">19ft Sxl</label>
         </div>
         <div>
          <input type="radio" id="7" name="hyva" class="typeOfVehicle" (change)="container('20ft Sxl')"/>
          <label for="7" class="vehiclelabel" style="padding-top: 10px;font-size: 12px;text-align: center">20ft Sxl</label>
         </div>
        </div>
        <div style="display: flex; flex-direction:coloumn; justify-content:center;"  [(ngModel)]="typeOfContainer">
          <div>
            <input type="radio" id="8" name="hyva" class="typeOfVehicle" (change)="container('21ft Sxl')"/>
            <label for="8" class="vehiclelabel" style="padding-top: 10px;font-size: 12px;text-align: center">21ft Sxl</label>
          </div>
       <div>
             <input type="radio" id="9" name="hyva" class="typeOfVehicle" (change)="container('23ft Sxl')"/>
            <label for="9" class="vehiclelabel" style="padding-top: 10px;font-size: 12px;text-align: center">23ft Sxl</label>
       </div>
       <div>
        <input type="radio" id="10" name="hyva" class="typeOfVehicle" (change)="container('24ft Sxl')"/>
        <label for="10" class="vehiclelabel" style="padding-top: 10px;font-size: 12px;text-align: center">24ft Sxl</label>
       </div>
  
          </div>
        </ion-card>

        <ion-card style="height: auto;" *ngIf="trukname =='Tanker'">
          <ion-card-title style="font-size: 19px;margin-top:6px;">Select the Tanker type:</ion-card-title>
          <br>
          <div style="font-size: 19px;margin-top:6px;" style="display: flex; flex-direction:coloumn; justify-content:center;" [(ngModel)]="typeofTanker">
            <div>
            <input type="radio" id="1" name="hyva" value="Metal steel" class="typeOfVehicle" (change)="Tanker('Metal steel')"/>
            <label for="1" class="vehiclelabel" style="padding-top: 10px;font-size:12px; text-align: center">Metal steel</label>
            </div>
   <div>
    <input type="radio" id="2" name="hyva" value="Stainless steel" class="typeOfVehicle" (change)="Tanker('Stainless steel')"/>
    <label for="2" class="vehiclelabel" style="padding-top: 10px;font-size: 12px; width: auto;text-align: center">Stainless steel</label>
   </div>
          </div>
        </ion-card>

      </div>
    </div>
  </div>





</ion-content>


<ion-button expand="full" shape="round" class="back" (click)="postVehile()" [disabled]="trukvehiclenumber == null || OriginLocation== null ||trukoperatingRoutes == '' || trukdate == null || trukname == null">Post Truk</ion-button>