<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" (click)="goback()" style="font-size: 30px;"></ion-icon>
      <ion-title>Add new truk details</ion-title>
    </div>

 

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <h2 style="text-align: center; color:black; border-bottom:5px solid  #f58e26 ; border-radius: 3px;">Transporter Details
    </h2>

    <p style="background-color:#e5e5e5 ;">Please share your contact details with the shipper for further communication outside the platform </p>
    <div class="mb-3">
    <input type="text" appCapitalize class="form-control" id="exampleFormControlInput1" placeholder="Transporter Name"
    [(ngModel)]="regdata.firstName+regdata.lastName">
  </div>

    <div class="mb-3">
      <input type="text" appCapitalize class="form-control" id="exampleFormControlInput1" placeholder="Company Name"
      [(ngModel)]="regdata.companyName">
    </div>

    <div class="mb-3">
      <input type="text" appCapitalize class="form-control" id="exampleFormControlInput1" placeholder="Mobile Number"
      [(ngModel)]="regdata.mobileNo">
    </div>

    <div class="mb-3">
      <input type="text" appCapitalize class="form-control" id="exampleFormControlInput1" placeholder="City"
    [(ngModel)]="regdata.city">
    </div>
    

  </div>

</ion-content>


<ion-button expand="full" shape="round" class="back" [disabled]="regdata.firstName == null  || regdata.companyName == null || regdata.mobileNo ==null || regdata.city == null" (click)="NewPostAdd()">Post</ion-button>